

html, body {                      
  margin: 0px;                    
  background-color: #699676;    
              
}  

body * {                          
  overflow: hidden;               
  box-sizing: border-box;         
  margin: 0px; 

}

.page {
  width: 700px;                  
  margin: 10px auto;              
}

header, footer {                  
  margin: 10px 0px;
}

main {                       
  text-align: justify;           
}

h1, h2, h3, h4 {                      
  margin: 10px 0px; 
  text-align: center;
  position:relative;
} 

p {
  margin: 10px 0px;
  text-align: justify;            
}


.smalltext {
    text-align: center;
    font-family:monospace;
}


nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    background-color: #85512c;
    overflow: hidden;
    border-radius: 10px;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
    
}

nav li a:hover {
    background-color: brown;
}

nav li a.active {
    background-color: brown;
}

.title{
  font-family:monospace;
  color:rgb(69, 107, 42)

}

a{
  color:black;
}
a:hover{
  color:#ffffff;
}

.headings{
  text-align: left;
}

.dividers{
  text-align: left;
}


/*this is for home page*/
.cat_pictures_home{
  width: 230px;
  margin:5px;
  border-radius:10px;
  float:left;
  position:relative;
}



/*this is for subpage books*/
#book-gif{
  width:300px;
  margin:10px;
  border-radius:10px;
}

/* this is for sub page films */
#cat_laptop{  
  width:230px;
  margin:10px;
  border-radius:10px;
}

/* this is for suggestions */
.jijigif_home{
  width:200px;
  transition:1s;
}

.jijigif_home:hover + .jiji_text{
  display:block;
}

.jijigif_home:hover{
  width:220px;
}

.jiji_text{
  display:none;
  position:absolute;
  float:right;
  left:100px;
}


