


html, body {                      
  margin: 0px;                    
  background-color: #699676;    
              
}  

body * {                          
  overflow: hidden;               
  box-sizing: border-box;         
  margin: 0px; 

}


.page {
  width: 700px;                  
  margin: 10px auto;              
}



header, footer {                  
  margin: 10px 0px;
}

main {                       
  text-align: justify;           
}

h1, h2, h3, h5 {                      
  margin: 10px 0px; 
  text-align: center;
  position:relative;
} 

p {
  margin: 10px 0px;
  text-align: justify;            
}


.smalltext {
    text-align: center;
    font-family:monospace;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    background-color: #85512c;
    overflow: hidden;
    border-radius: 10px;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav li a:hover {
    background-color: #964040;
}

nav li a.active {
    background-color: brown;
}

.title{
  font-family:monospace;
  color:rgb(69, 107, 42)
}

a{
  color:black;
}

a:hover{
  color:#ffffff;
}

.headings{
  text-align: center;
}

.dividers{
  text-align: center;
}

/*this is for home page*/
.cat_pictures_home{
  width: 230px;
  margin:5px;
  border-radius:10px;
  float: right;
  position:relative;
}

/*this is for subpage books*/

.cat_pictures_books{
  width: 200px;
  border-radius:10px;
  margin: 10px;
  float: right;
  border: 6px solid #065606;
}


/* this is for sub page films */
.cat_pictures_films{
  width: 200px;
  border-radius:10px;
  margin: 10px;
  float: left;
  border: 6px solid #165a16;
}

.cat_pictures_films_info_right{
  width: 125px;
  border-radius:8px;
  margin: 10px;
  border: 5px solid #113611;
  float: right;
}

.cat_pictures_films_info_left{
  width: 125px;
  border-radius:8px;
  margin: 10px;
  border: 5px solid #113611;
  float: left;
}

/*subpage memes*/
.cat_pictures_memes{
  width: 175px;
  border-radius:10px;
  margin: 10px;
  float: left;
  border: 6px solid #276327;
}


/* this is for suggestions */
.jijigif_home{
  width:200px;
  transition:1s;
}

.jijigif_home:hover + .jiji_text{
  display:block;
}

.jijigif_home:hover{
  width:220px;
}

.jiji_text{
  display:none;
  position:absolute;
  float:right;
  left:100px;
}

