

html, body {                      
  margin: 0px;                    
  background-color: #699676;    
  color: #303030;               
}  

body * {                          
  overflow: hidden;               
  box-sizing: border-box;         
  margin: 0px; 

}


.page {
  width: 700px;                  
  margin: 10px auto;              
}

header, footer {                  
  margin: 10px 0px;
}

main {                       
  text-align: justify;           
}

h1, h2, h3 {                      
  margin: 10px 0px;
  text-align: center; 
} 

p {
  margin: 10px 0px;
  text-align: justify;            
}



.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;           
}
.kolomRechts {
  float:left;
  width: 450px;
}
.kolomStop {
  clear:both;                   
}



h1, h2, h3 {
      color: skyblue;
}

.smalltext {
    text-align: center;
    font-family:monospace;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #85512c;
    overflow: hidden;
    border-radius: 10px;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav li a:hover {
    background-color: brown;
}

nav li a.active {
    background-color: brown;
}

.title{
  font-family:monospace;
  color:rgb(69, 107, 42)

}